@font-face {
	font-family:'Zawgyi-One';
	src:local('Zawgyi-One'), url('https://raw.githubusercontent.com/chanmratekoko/mmwebfonts/master/fonts/zawgyi.woff') format('woff'), url('https://raw.githubusercontent.com/chanmratekoko/mmwebfonts/master/fonts/zawgyi.ttf') format('ttf');
}


* {
	font-family: Zawgyi-One !important;
}